body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color:rgb(74, 53, 26);
    font-weight: bold;
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 90px;
}

h4 {
    text-align: center;
    color:rgb(74, 53, 26);
    font-weight: bold;
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 30px;
}

.button {
    font-family: "Lucida Console", 	"Courier New", monospace;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(172, 156, 135);
    box-shadow: 1px 1px 2px rgb(108, 82, 64);
    color: rgb(74, 53, 26);
    border-radius: 10px 10px;
    padding: 10px;
    cursor: pointer;
}

.buttons {
    text-align: center;
}

p {
    text-align: center;
    color:rgb(74, 53, 26);
    font-weight: bold;
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 50px;
}

.coinCounters {
    color:rgb(74, 53, 26);
    font-weight: bold;
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 20px;
}

#numPennies {
    margin-left: 375px;
}

#numNickels {
    margin-left: 150px;
}

#numDimes {
    margin-left: 150px;
}

#numQuarters {
    margin-left: 200px;
}

.coinSums {
    margin-left: 375px;
    color:rgb(74, 53, 26);
    font-weight: bold;
    font-family: "Lucida Console", 	"Courier New", monospace;
    font-size: 20px;
}